body{
    color: white;
    background-color: #171717;
    height: 100%;
}

.Nav-Container{
    background-color: transparent;
    height: 8em;
    padding-top: 12px;
}

.NavBar-item{
    font-family: "Gill Sans Extrabold", sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 10;
    
}

.NavBar-item:hover {
    color:#CF202A;
}

.navbar-brand{
    margin-left: 10%;
}

.navbar-rightCh{
    margin-left: 40%;
}

.CompConainer{
    position: relative;
    margin: auto;
    background-color: rgb(223, 230, 233, 0.2);
    width: 63%;

    border-radius: 2%;
}

.CompConainer #title{
    text-align: center;
    color: rgb(223, 230, 233);
    margin-bottom: 50px;
}
.CompConainer #title h1{
    font-family: 'Courier New', monospace;
    font-size: 55px;
    
}
.CompConainer  table {
    font-size: 24px;
    font-weight: 10;
    margin: auto;
}
.CompConainer  table thead{
    background-color: RGB(23, 23, 23,0.8);
    color:rgb(207, 32, 41);
    text-align: center;
}

.CompConainer  table tbody{
    text-align: center;
    background-color:RGB(23, 23, 23,0.1);
}

.signup-container{
    margin-top: 3em;
    padding-bottom: 30px;
}
.Form-container{
    width: 50%;
    margin: auto;
    text-align: center;
}

.input-material {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(236, 240, 241,0.2);
    border-radius: 2%; }

.input-material label {
    color: #b1bbc4;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 7px;
    transition: 0.1s ease all;
    -moz-transition: 0.1s ease all;
    -webkit-transition: 0.1s ease all; 
}

.input-material .form-control {
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0px;
    background: transparent;
    padding-left: 5px;
    box-shadow: none;
 }
.input-material .form-control:focus, .form-control[value]:not([value=""]) {
    border-bottom-color: rgb(207, 32, 41);
    color: white; 
    font-size: 22px;
    font-weight: 40;
}
.input-material .form-control:focus ~ label, .input-material .form-control[value]:not([value=""]) ~ label {
    top: -25px;
    font-size: 14px;
    color: rgb(207, 32, 41);
    font-weight: 500; 
}
.input-material .form-control:focus, .input-material .form-control[value]:not([value=""]) {
    border-bottom-color: rgb(207, 32, 41);
    color: white; 
}

.Form-container button{
    margin-top: 10px;
    margin-bottom: 30px;
}

#Challlanges-Container{
    position: relative;
    margin: auto;
    background-color: #576574;
    width: 70%;
    padding-bottom: 40px;
    border-radius: 2%;
}

.Challange-type{
    background-color: #171717;
    height: 90px;
    width: 100%;
    border-top: rgb(207, 32, 41) solid 2px;
    border-bottom: rgb(207, 32, 41) solid 2px;
}

.hrAngle {
    border-top:  2px solid #CF202A;
    -webkit-transform:rotate(-25deg);
    position:absolute;
    width:11%;
    margin-left: 44.5%;
    margin-top: 43px;
}
.Challange-type p{
    position:absolute;
    font-family: 'Courier New', monospace;
    font-size: 45px;
    margin-left: 12%;
}

.Challanges-cards{
    width: 90%;
    margin-top: 20px;
}
.Challange-card{
    color:#171717;
    cursor: pointer;
}
.Card-challange-header{
    border-bottom: rgb(207, 32, 41) solid 2px;
    color: rgb(207, 32, 41) ;
}
.title-challange{
    font-family: 'Courier New', monospace;
    font-size: 18px;

}
.Challange-card span{
    color: #8395a7;
}

.Challange-Ful-Container{
    margin-bottom: 30px;
}

.modal-content{
    background-color: #171717;
}
#TitlePopUp{
    margin-left: 30%;
    color:white;
}

.CloseButton{
    color:white;
}
.CloseButton:hover {
    color:white;
}

.modal-dialog{
    margin-top: 12em;
    line-height: 2.6;
    color: #8395a7;
}
.modal-dialog span{
    color: white;
}
.modal-header{
    border-bottom: rgb(207, 32, 41) solid 1px;
    font-family: 'Courier New', monospace;
    font-size: 18px;
}
.modal-footer{
    border-top: rgb(207, 32, 41) solid 1px;
}

#modalClose{
    margin-right: 45%;
}
#FlagInput{
    line-height: normal;
    height: 35px;
    margin-left: 20%;
}